<!DOCTYPE html>

<html lang="ru">
    <head>
        <title>PPnP</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/ico">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}?ver=2">
        {% block head %}{% endblock head %}
    </head>

    <body class="{{ self._TemplateReference__context.name | replace(".html", "") }}">
        {% block content %}{% endblock content %}
    </body>
</html>
